/* Supprime les soulignements des textes pour tous les éléments */
* {
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Ralentir le scroll */
}

/* Applique une police par défaut et supprime les marges et les espacements du body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bgGris{
    background-color: #ddd;
}

.paddingTopSection{
    padding: 100px 0;
}

/* HEADER */
/* Style général de l'en-tête */
header {
    padding: 20px; /* Ajoute un espacement interne */
    background-color: #333333; /* Définit un fond blanc */
    border-bottom: 1px solid #ddd; /* Ajoute une ligne séparatrice subtile en bas */
}

/* Taille spécifique du logo dans l'en-tête */
.logo {
    width: 90px;
    margin: auto;
    display: block;
}

/* Centre le contenu à l'intérieur des conteneurs */
.container {
    text-align: center;
}

/* Style des liens dans la navigation */
nav a {
    color: white; /* Texte en noir */
    text-decoration: none; /* Retire le soulignement par défaut */
}

/* Affiche les éléments de navigation sous forme de liste horizontale */
nav ul {
    display: inline-block; /* Positionne les éléments sur une seule ligne */
    list-style: none; /* Supprime les puces */
    padding: 0; /* Retire les marges internes */
    margin: 0; /* Retire les marges externes */
}

/* Style des éléments individuels dans la liste de navigation */
nav li {
    display: inline; /* Aligne les éléments côte à côte */
    margin: 0 15px; /* Ajoute un espacement horizontal entre les éléments */
}

/* HERO */
/* Style de la section principale avec un contenu centré et un fond clair */
.hero {
    position: relative; /* Positionnement pour d'éventuels ajustements */
    text-align: center; /* Centre le texte */
    background-color: #f5f5f5; /* Applique un fond gris clair */
    padding: 50px 20px; /* Ajoute un espacement interne généreux */
}

/* Style du titre principal dans la section héroïque */
.hero-content h1 {
    font-size: 50px; /* Texte de très grande taille */
    letter-spacing: 5px; /* Ajoute un espacement entre les lettres */
    width: 50%;
    margin: auto;
}

/* Style du sous-titre ou de la description */
.hero-content p {
    font-size: 1.2em; /* Texte légèrement agrandi */
    margin: 10px 0; /* Ajoute un espacement vertical */
}

/* Taille et espacement pour les images de la section héroïque */
.hero-content img {
    width: 800px; /* Largeur fixe de l'image */
    margin-top: 10px; /* Ajoute un espacement au-dessus de l'image */
}

/* SECTION */
/* Style de la section présentant les produits en vedette */
.featured-products {
    text-align: center; /* Centre le contenu */
    
}

/* Titre de la section des produits en vedette */
.featured-products h2 {
    font-size: 2em; /* Taille moyenne du titre */
    margin-bottom: 30px; /* Ajoute un espacement en dessous */
    letter-spacing: 2px; /* Espacement supplémentaire entre les lettres */
}

/* PRODUITS */
/* Affiche les produits sous forme de grille avec Flexbox */
.produits {
    display: flex; /* Active Flexbox pour une disposition flexible */
    justify-content: space-evenly; /* Répartit les produits de manière équitable*/
}

/* Conteneur individuel pour chaque produit */
.produit {
    text-align: center; /* Centre le contenu textuel */
    width: 20%; /* Largeur minimale des produits */
}

/* Images des produits */
.produit img {
    width: 100%; /* Image responsive adaptée au conteneur */
    max-width: 100%; /* Définit une largeur maximale */
}

/* Style des titres des produits */
.produit h3 {
    font-size: 1.2em; /* Texte de taille moyenne */
    margin: 10px 0; /* Ajoute un espacement vertical */
}

/* Style des descriptions des produits */
.produit p {
    font-size: 1em; /* Texte de taille normale */
    color: #333; /* Couleur grise pour le texte */
}

/* AVANTAGES CLIENTS */
/* Présente les avantages clients sous forme de grille */
.clients {
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Ajoute un espacement entre les colonnes */
}

/* Conteneur pour un avantage individuel */
.client {
    text-align: center; /* Centre le contenu textuel */
    width: 20%; /* Largeur minimale */
}

/* Images des avantages clients */
.client img {
    width: 100%; /* Image responsive adaptée au conteneur */
    max-width: 30%; /* Définit une largeur maximale */
}

/* Titre des avantages clients */
.client h3 {
    font-size: 1.2em; /* Texte de taille moyenne */
    margin: 10px 0; /* Ajoute un espacement vertical */
}

/* Description des avantages clients */
.client p {
    font-size: 1em; /* Texte de taille normale */
    color: #333; /* Couleur grise */
}

/* SERVICES */
/* Organisation des services sous forme de grille */
.services {
    display: flex; /* Modèle Flexbox */
    justify-content: space-evenly; /* Répartit les services de manière uniforme */
    gap: 20px; /* Ajoute un espacement entre les colonnes */
}

/* Conteneur pour un service individuel */
.service {
    text-align: center; /* Centre le contenu textuel */
    width: 20%; /* Largeur minimale */
}

/* Images des services */
.service img {
    width: 100%; /* Image responsive adaptée au conteneur */
    max-width: 100%; /* Définit une largeur maximale */
}

/* Titre des services */
.service h3 {
    font-size: 1.2em; /* Texte de taille moyenne */
    margin: 10px 0; /* Ajoute un espacement vertical */
}

/* Description des services */
.service p {
    font-size: 1em; /* Texte de taille normale */
    color: #333; /* Couleur grise */
}

/* TÉMOIGNAGES */
/* Présente les témoignages sous forme de grille */
.temoins {
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: center; /* Centre les témoignages horizontalement */
    gap: 20px; /* Ajoute un espacement entre les colonnes */
}

.temoin {
    text-align: center; /* Centre le contenu textuel */
    width: 20%; /* Largeur minimale */
}

.temon img {
    width: 100%; /* Image responsive adaptée au conteneur */
    max-width: 200px; /* Définit une largeur maximale */
}

/* FOOTER */
/* Style général du pied de page */
footer {
    background-color: #333; /* Fond sombre */
    color: #fff; /* Texte en blanc pour contraste */
    text-align: center; /* Centre le texte */
    padding: 5px; /* Ajoute un espacement interne */
}